.navbar {
    height: 80px;
    background: white;
    border-bottom: 1px solid $border;
}

.product-title {
    color: $dark-grey;
    font-weight: $semi-bold;
}

.breadcrumb-container {
    height: 100%;
    border-left: 1px solid $border;
}

.breadcrumb {
    font-weight: $regular;
}