@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.navbar {
    height: 80px;
    background: white;
    border-bottom: 1px solid $border;
}

.product-title {
    color: $dark-grey;
    font-weight: $semi-bold;
}

.breadcrumb-container {
    height: 100%;
    border-left: 1px solid $border;
}

.breadcrumb {
    font-weight: $regular;
}

.profile-btn {
    border: none;
    background: none;
    color: $faded-black;
    font-weight: $semi-bold;

    &:after {
        color: rgba(0, 0, 0, 0.2);
    }
}

.avatar {
    height: 36px;
    width: 36px;
    margin-right: 10px;
    margin-left: 8px;
}

@include media-breakpoint-down(sm) {
    .profile-dropdown[data-bs-popper] {
        right: 0;
        left: auto;
    }
}

.profile-dropdown-item {
    color: $faded-black;
    font-size: $button;
}

.unread-count-badge {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $primary-blue;
    position: absolute;
    top: -10px;
    right: -7px;
    box-shadow: 0 0 0 2px white;

    span {
        color: white;
        font-size: $caption;
    }
}