@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.header-container {
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}

.top-row {
    padding: 30px 0;
}

.bottom-row-item {
    padding-top: 13px;
    padding-bottom: 13px;
}

.page-title {
    margin-left: 5px;
    font-weight: $semi-bold;
    color: $title-grey;
}

.create-btn {
    background-color: $teal;
    color: white;

    span {
        margin-left: 21px;
        font-size: $button;
    }

    &:hover {
        background-color: $primary-blue;
        color: white;
    }
}

.filter-btns-container {
    :not(:last-child) {
        margin-right: 40px;
    }
}

.filter-btn {
    font-size: $small-heading;
    font-weight: $semi-bold;
    border-radius: 0;

    &:active,
    &:focus {
        color: $highlight-blue;
    }
}

.active-filter {
    color: $highlight-blue;
    border-bottom: 3px solid $highlight-blue;
}

@include media-breakpoint-down(md) {
    .create-btn {
        margin-top: 20px;
    }
}