@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$font-stack: 'Montserrat', sans-serif;

$primary-color: #565656;
$light-color: rgba(0, 0, 0, 0.5);

$regular: 400;
$medium: 500;
$semi-bold: 600;

$body: 1rem;
$caption: 0.875rem;