@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$font-stack: 'Montserrat', sans-serif;

$regular: 400;
$medium: 500;
$semi-bold: 600;

$body: 1rem;
$button: 0.875rem;
$caption: 0.625rem;

$body-grey: #565656;
$faded-black: rgba(0, 0, 0, 0.5);
$dark-grey: rgba(26, 25, 25, 0.5);
$title-grey: #1A1919;
$search-grey: #999999;